PORT=3000

SUPABASE_URL=https://SEU_PROJETO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua_chave_secreta_supabase

MP_ACCESS_TOKEN=APP_USR-seu_token_do_mercado_pago

MP_PLAN_MENSAL=ca92e94590464e44b834d5bb61454732
MP_PLAN_TRIMESTRAL=9786832ee8224e78b048956df6963dc2

PUBLIC_APP_URL=https://sites.google.com/view/vagafacilapp
